<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.apf">

    <application>
        <activity android:name=".component.activity.ApfStdActivity"
            android:exported="false"
            android:launchMode="standard">
        </activity>
        <activity android:name=".component.activity.ApfStdRemote1Activity"
            android:exported="false"
            android:launchMode="standard"
            android:process="com.android.apf.remote1">
        </activity>
        <activity android:name=".component.activity.ApfStdRemote2Activity"
            android:exported="false"
            android:launchMode="standard"
            android:process="com.android.apf.remote2">
        </activity>
        <activity android:name=".component.activity.ApfStdRemote3Activity"
            android:exported="false"
            android:launchMode="standard"
            android:process="com.android.apf.remote3">
        </activity>

        <activity android:name=".component.activity.ApfTask1Activity"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".component.activity.ApfTask2Activity"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".component.activity.ApfTask3Activity"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".component.activity.ApfTask4Activity"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".component.activity.ApfInstance1Activity"
            android:exported="false"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name=".component.activity.ApfInstance2Activity"
            android:exported="false"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name=".component.activity.ApfInstance3Activity"
            android:exported="false"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name=".component.activity.ApfInstance4Activity"
            android:exported="false"
            android:launchMode="singleInstance">
        </activity>

    </application>

</manifest>